extends layout

block content
  h1#headline.center
    a(href='http://dvcs.w3.org/hg/speech-api/raw-file/tip/speechapi.html')
      | This is freaking LARRY
  #info
  .right
    button#start_button(onclick='startButton(event)')
      img#start_img(src='mic.gif', alt='Start')
  #results
    span#final_span.final
    span#interim_span.interim
    p
  .center
    .sidebyside(style='text-align:right')
      button#copy_button.button(onclick='copyButton()')
        | Copy and Paste
      #copy_info.info
        | Press Control-C to copy text.
        br
        | (Command-C on Mac.)
    .sidebyside
    p
      #div_language
        select#select_language(onchange='updateCountry()')
        select#select_dialect
    p
    img#clippy_img(src='public/images/clippy.gif', alt='clippy')
