extends layout

block content
  h1#headline.center
      marquee(direction='right') WHAT THE FUCK DO YOU WANT
      marquee(direction='left') WHAT THE FUCK DO YOU WANT
  #info
  .right
    button#start_button
      img#start_img(src='mic.gif', alt='Start')
  #results
    span#final_span.final
    span#interim_span.interim
    p
    img#lazy(src='/images/lazy.jpg', alt='lazy')
