body {
  padding: 50px;
  font: 14px "Papyrus", Helvetica, Arial, sans-serif;
}

h1 {
  color: #00B7FF;
}

.marq {
  font-size: 3rem;
}

#results {
  font-size: 3rem;
}

h2{
  color: #00B7FF;
  font: 14px;
}
